extends layout

append body
  .container
    .page-header
      h1 Upload Images

    include uploader
    button.btn.btn-primary(type='button', data-toggle='modal', data-target='#uploadModal') Upload